<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirec("/")
}%>

<%- messages() %>

<div id="management-links">
    <a href="/inv/add-classification">Add new classification</a>
    <a href="/inv/add-inventory">Add new inventory</a>
</div>